<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Algo Visualiser</title>
</head>
<%- include('layouts/nav') %>
<body>
	<h1>Visualise</h1>
	<div class='home'>
		<div class='button-wrapper'>
			<div class='holder'>
				<i class='sort icon'></i>
				<a role='button' href='/sorters'>Sorting Algorithms</a>
			</div>
		</div>
		<div class='button-wrapper'>
			<div class='holder'>
				<i class='path icon'></i>
				<a role='button' href='/pathfinders'>Pathfinding Algorithms</a>
			</div>
		</div>
	</div>
</body>
</html>