<head>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
	<script src="https://use.fontawesome.com/f1d8cb49fe.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<header>
	<a href='/'>Algo Visualiser</a>
	<ul>
		<li><a class='sorters' href='/sorters'>Sorters</a></li>
		<li><a class='pathfinders' href='/pathfinders'>Pathfinders</a></li>
	</ul>
</header>